#btn-btn
{
  padding: 2.5em;
}
#btn-btn
{
  padding-left: 80px;
}
#category-select
{
  padding-left: 120px;
}
#category-font
{
  font-size: 1.5em;
}
#typedevice
{
  padding: 1em;

}
#alig
{
  padding-left: 40px;
}
#select-btn
{
  padding: 1em;
}
