<div>
<div class="container">
  <div class="row">
    <div class="page-header">
      <h1>Create Ticket</h1>
    </div>
  </div>
    <form class="form-horizontal" role="form" novalidate #f="ngForm" >

      <div class="form-group" id="type" class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
          <label >Type</label><br>
          <select class="form-control" name="type" ngModel #type="ngModel" id="type-box" required ><br>
            <option value="Mobile" >Mobile</option>
            <option value="Laptop">Laptop</option>
          </select>
          <div *ngIf="type.errors?.required" class="error">
            Type is required
          </div>
      </div>


        <div  class="form-group" id="type-category" class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
          <label >Category:</label><br>
          <select name="category" class="form-control" ngModel #category="ngModel" required id="category-select"><br>
            <option value="Spare Parts">Spare Parts</option>
            <option value="Manufacture Defect">Manufacture Defect</option>
            <option value="Parts Replacement">Parts Replacement</option>
            <option value="Battery Leakage">Battery Leakage</option>
            <option value="Charger Defect">Charger Defect</option>
            <option value="Warrenty Extension">Warrenty Extension</option>
          </select>
          <div *ngIf="category.errors?.required" class="error">
            Category is required
          </div>
        </div>



      <div class="form-group" id="name">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
          <label >Name</label>
          <input type="text" class="form-control"  name="name"  ngModel #Name="ngModel" minlength="6" required placeholder="Name" id="name-input"  >
          <div *ngIf="Name.errors?.required && Name.touched" class="error">
            Name is required
          </div>
          <div *ngIf="Name.errors?.minlength && Name.touched" class="error">
            Minimum of 6 characters
          </div>
        </div>
      </div>


      <div class="form-group" id="discription">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
          <label >Discription</label>
          <textarea  class="form-control" id="discription-text" name="Discription"  ngModel #Discription="ngModel" minlength="10" required placeholder="Discription"  ></textarea>
          <div *ngIf="Discription.errors?.required && Discription.touched" class="error">
            Discription is required
          </div>
          <div *ngIf="Discription.errors?.minlength && Discription.touched" class="error">
            Minimum of 15 characters
          </div>
        </div>
      </div>


      <div class="form-group" id="priorty">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
          <label >Priorty</label><br>
          <select name="priority" ngModel #priority="ngModel" class="form-control" required id="priorty-select">
            <option value="High">High</option>
            <option value="Medium">Medium</option>
            <option value="Low">Low</option>
          </select>
          <div *ngIf="priority.errors?.required" class="error">
            Priority is required
          </div>
        </div>
      </div>


      <div class="form-group">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" id="status">
          <label >Status</label>
          <input type="text" class="form-control"  disabled name="Status"  required placeholder="Open" id="status-field" >
        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="btn" class="btn btn-primary" id="register" (click)="AddTicket(f);f.reset();"  [disabled]="f.invalid" >Save</button>
          <button type="btn" class="btn btn-danger" id="send" (click)="send()">Close</button>

        </div>
      </div>

    </form>
  </div>
</div>

